<table>
    <tr>
        <th>NAME</th>
        <th>Present</th>
    </tr>
    <% users.forEach((user) =>{ %>
        <tr>
            <td><%= user.Name %></td>
            <td><%= user.IsPresent ? true : false %></td>
            <td><a href="/users/del/<%= user.Id %>">Delete</a></td>
            <td><a href="/users/toggle/<%= user.Id %>">Toggle Present</a></td>
        </tr>
    <% }) %>
</table>
<form method="post" action="/users">
    <label>Name</label>
    <input type="text" name="name"/>
    <button>Add User</button>
</form>

<a href="/teams/gen">Generate teams</a>
